.pokemon-name {
  text-transform: capitalize;
  font-size: 2rem;
}
.pokemon-img {
  width: 150px;
  height: auto;
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 10%;
  margin-top: 5px;
  margin-left: 5px;
  background: lightcoral;
}
.pokemon-card {
  margin: auto;
  width: 70%;
  font-family: "Roboto Mono", monospace;
  vertical-align: middle;
  height: 550px;
  text-align: center;
}
.card-info-container {
  margin-top: 10px;
}
.attribute-item {
  display: inline-block;
  margin-right: 15px;
  background: lightcoral;
}
.stat-in-p {
  background: lightcoral;
}
